<!-- Section: intro -->
<section id="intro" class="intro">

	<div class="slogan">
		<h4>Hey everyone:</h4>
		<h2>Wish Courtney a <br/>Happy 40th Birthday!</h2>
		<h4>This is a big secret, you guys.</h4>
	</div>
	<div class="page-scroll">
		<a href="#service" class="btn btn-circle">
			<i class="fa fa-angle-double-down animated"></i>
		</a>
	</div>
</section>
<!-- /Section: intro --> 

<!-- Section: about -->
<section id="about" class="home-section text-center">
	<div class="heading-about">
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
				<h2>About Courtney</h2>
				<i class="fa fa-2x fa-angle-down"></i>

				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container">

	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
			<div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
					<h5>Day of Birth</h5>
                    <p class="subtitle">January 6, 1976</p>
                    <div class="avatar"><img src='<%= image_path "cr-parachute.jpg" %>' alt="" class="img-responsive img-circle" /></div>
                </div>
            </div>
			</div>
        </div>
		<div class="col-xs-6 col-sm-3 col-md-3">
			<div class="wow bounceInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
                <div class="inner">
					<h5>Place of Birth</h5>
                    <p class="subtitle">Louisville, KY</p>
                    <div class="avatar"><img src='<%= image_path "cr-walkman.jpg" %>' class="img-responsive img-circle"></div>

                </div>
            </div>
			</div>
        </div>
		<div class="col-xs-6 col-sm-3 col-md-3">
			<div class="wow bounceInUp" data-wow-delay="0.8s">
            <div class="team boxed-grey">
                <div class="inner">
					<h5>Parents</h5>
                    <p class="subtitle">The Knopfs</p>
                    <div class="avatar"><img src='<%= image_path "knopfs.jpg" %>' alt="" class="img-responsive img-circle" /></div>

                </div>
            </div>
			</div>
        </div>
		<div class="col-xs-6 col-sm-3 col-md-3">
			<div class="wow bounceInUp" data-wow-delay="1s">
            <div class="team boxed-grey">
                <div class="inner">
					<h5>Son</h5>
                    <p class="subtitle">Old man Cecil</p>
                    <div class="avatar"><img src='<%= image_path "cr-cc.jpg" %>' alt="" class="img-responsive img-circle" /></div>

                </div>
            </div>
			</div>
        </div>
    </div>		
	</div>
</section>
<!-- /Section: about -->


<!-- Section: hobbies -->
<section id="service" class="home-section text-center bg-gray">
	
	<div class="heading-about">
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
				<h2>Hobbies</h2>
				<i class="fa fa-2x fa-angle-down"></i>

				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
			<div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
				<div class="service-icon">
					<!-- <img src='<%#= image_path("icons/service-icon-1.png") %>'> -->
					<i class="fa fa-fire-extinguisher"></i>
				</div>
				<div class="service-desc">
					<h5>Improv</h5>
					<p>Courtney is a cast member at <a href="http://www.brodytheater.com/" target="_blank">Brody Theater</a> here in Portland, OR.</p>
				</div>
            </div>
			</div>
        </div>
		<div class="col-sm-3 col-md-3">
			<div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
				<div class="service-icon">
					<img src='<%= image_path("icons/service-icon-2.png") %>'>
				</div>
				<div class="service-desc">
					<h5>Rock Climbing</h5>
					<p>Courtney enjoys indoor rock climbing and bouldering at <a href="http://portlandrockgym.com/" target="_blank">Portland Rock Gym</a>. She has yet to climb outdoors despite a <a href="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12241294_10152845538899058_8427064305425055554_n.jpg?oh=96eb61e4fdc3629e69a5e7ac1ea635e6&oe=56B8A4F5" target="_blank">doctored photo</a> claiming otherwise.</p>
				</div>
            </div>
			</div>
        </div>
		<div class="col-sm-3 col-md-3">
			<div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
				<div class="service-icon">
					<img src='<%= image_path("icons/service-icon-3.png") %>'>
				</div>
				<div class="service-desc">
					<h5>Hiking</h5>
					<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
				</div>
            </div>
			</div>
        </div>
		<div class="col-sm-3 col-md-3">
			<div class="wow fadeInRight" data-wow-delay="0.2s">
            <div class="service-box">
				<div class="service-icon">
					<img src='<%= image_path("icons/service-icon-4.png") %>'>
				</div>
				<div class="service-desc">
					<h5>Eating</h5>
					<p>Courtney is a self-described foodie and enjoys indulging in cusine ranging from food carts to sushi.</p>
				</div>
            </div>
			</div>
        </div>
    </div>		
	</div>
</section>
<!-- /Section: services -->


<!-- Section: sign card -->
<section id="contact" class="home-section text-center">
	<div class="heading-contact">
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
				<h2>Sign the card</h2>
				<p>Please share a share your silliest, most awesome Courtney stories, memories and well-wishes.<br/> All submissions will be shared with the birthday girl on her big day. Thanks!</p>
				<i class="fa fa-2x fa-angle-down"></i>

				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container">

	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>
	<div class="row">
	    <div class="col-lg-8">
	        <div class="boxed-grey">
	            <form id="contact-form">
	            	<div class="row">
	                <div class="col-md-6">
	                    <div class="form-group">
	                        <label for="name">
	                            Name</label>
	                        <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
	                    </div>
	                    <div class="form-group">
	                        <label for="email">
	                            Email Address</label>
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
	                            </span>
	                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
	                    </div>
	                    <div class="form-group">
	                        <label for="subject">
	                            Subject</label>
	                        <select id="subject" name="subject" class="form-control" required="required">
	                            <option value="na" selected="">Choose One:</option>
	                            <option value="service">General Customer Service</option>
	                            <option value="suggestions">Suggestions</option>
	                            <option value="product">Product Support</option>
	                        </select>
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="form-group">
	                        <label for="name">
	                            Message</label>
	                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
	                            placeholder="Message"></textarea>
	                    </div>
	                </div>
	                <div class="col-md-12">
	                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
	                        Send Message</button>
	                </div>
	            	</div>
	            </form>
	        </div>
	    </div>
		
		<div class="col-lg-4">
			<div class="widget-contact">
				<h5 style="margin-bottom:2px">Mailing Address</h5>
				<p>For gag gifts and old fashioned cards.</p>
				
				<address>
				  <strong>Courtney Rodi</strong><br>
				  2625 E Burnside St. #109<br>
				  Portland, OR 97214<br>
				 <!--  <abbr title="Phone">P:</abbr> (123) 456-7890 -->
				</address>

				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:courtney76@gmail.com">courtney76@gmail.com</a>
				</address>	

				<address>
				  <strong>She's on social networks</strong><br>
	               	<ul class="company-social">
	                    <li class="social-facebook"><a href="https://www.facebook.com/crodi?fref=ufi" target="_blank"><i class="fa fa-facebook"></i></a></li>
	                    <li class="social-twitter"><a href="https://twitter.com/decatursun" target="_blank"><i class="fa fa-twitter"></i></a></li>
	                    <li class="social-instagram"><a href="https://www.instagram.com/decatursun76/" target="_blank"><i class="fa fa-instagram"></i></a></li>
	                    <li class="social-google"><a href="https://plus.google.com/100816275047146196334/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
	                </ul>	
				</div>	
			</div>
		</div>	
	</div>
</section>
	<!-- /Section: contact -->
