<div id="contact-form">
  <%= form_for(@memory) do |f| %>
    <% if @memory.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

        <ul>
        <% @memory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name %>
             <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span></span>
                <%= f.text_field :name, placeholder: "Enter name", required: "required", class: "form-control", id: "name" %>
            </div>
          </div>
          <div class="form-group">
              <%= f.label :email %>
              <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                  </span>
                  <%= f.email_field :email, class: "form-control", id: "email", placeholder: "Enter email", required: "required" %>
              </div>
          </div> 
          <div class="form-group">
            <%= f.label :relationship, "Relationship" %>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-heart-empty"></span></span>
              <%= f.text_field :relationship, class: "form-control", placeholder: "Enter relationship" %>
              </div>
          </div>
          <div class="form-group">
            <%= f.label :year_met, "Year met" %>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
                <%= f.text_field :year_met, class: "form-control", placeholder: "Enter year" %>
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <%= f.label :memory1, "Message" %>
            <%= f.text_area :memory1, id: "message", class: "form-control", rows: "12", cols: "25", required: "required", placeholder: "Courtney, you are the greatest and here's why..." %>
          </div>
      </div>
      <div class="col-md-12">
            <%= f.submit 'Sign the Card', class: 'btn btn-skin pull-right', id: "btnContactUs" %>
      </div>
    </div>       
  <% end %>  
</div>
