<p id="notice"><%= notice %></p>

<%= link_to 'Share a Memory', new_memory_path, class: 'btn btn-primary' %>

<% @memories.each do |memory| %>
  <div class="panel">
    <h2><%= memory.name %></h2> 
    <p>(<em><%= memory.relationship %> since <%= memory.year_met %>) shared:</em></p>
    <p><%= memory.memory1 %></p>
    <p><%= memory.memory2 %></p>
    <p><%= memory.memory3 %></p>
    <!-- Admin Only -->
    <p><%= link_to 'Show', memory %>
    <%= link_to 'Edit', edit_memory_path(memory) %>
    <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
<% end %>