<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lordy, Lordy, Courtney is 40</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= google_fonts_link_tag 'Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic|Belgrano' %>  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<%= yield %>
</body>
</html>
